.shimmer {
  display: flex;
  flex-wrap: wrap;
}
.ShimmerCard {
  width: 15rem;
  margin: 2rem;
  border: 0.1rem solid black;
  padding: 1rem;
  cursor: pointer;
}
.ShimmersCard > img {
  object-fit: contain;
  width: 100%;
  margin-left: auto;
  padding: 1rem;
}
.ShimmerName {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  word-break: break-word;
}
.ShimmerLocation {
  padding-left: 1rem;
  color: #686b78;
  font-size: 1rem;
  margin-top: 4px;
}
.ShimmerInfo {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
