* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.css html {
  font-size: 75%;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 300px) {
  html {
    font-size: 30%;
  }
}
@media only screen and (max-width: 200px) {
  html {
    font-size: 25%;
  }
}
@media only screen and (max-width: 100px) {
  html {
    font-size: 15%;
  }
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100vh; */
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid black;
}
.logoImg {
  cursor: pointer;
  height: 7rem;
  object-fit: contain;
}

.App-header > ul {
  display: flex;
  list-style-type: none;
}
.App-header > ul > li {
  padding-right: 5rem;
  cursor: pointer;
}
.App {
  display: flex;
  flex-direction: column;
}
.App-body {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.AppBody {
  display: flex;
  flex-wrap: wrap;
}
.App-footer {
  height: 10rem;
  background-color: red;
}
.bodyCards {
  display: flex;
  flex-wrap: wrap;
}
