* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.App-body {
  flex: 1;
}
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.App-header > img {
  cursor: pointer;
}
.App-header > ul {
  display: flex;
  list-style-type: none;
}
.App-header > ul > li {
  padding-right: 5rem;
  cursor: pointer;
}
.App-footer {
  height: 30px;
}
